.button {
  color: $white;
  font-size: 1.2rem;
  font-family: $font-main;
  padding: gutter(1) gutter(3);
  display: inline-block;
  border: 1px solid $white;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $black;
    background-color: $white;
    text-decoration: none;
  }

  &--pdf {
    color: $white;
    background: $primary;
    padding: gutter(0.4) gutter(0.8);
    border-radius: gutter(1);
    margin-left: gutter(0.8);
    margin-top: gutter(0.1);
    letter-spacing: 0;
    font-size: 15px;

    @include media("<md") {
      font-size: 12px;
      padding: gutter(0.4) gutter(0.6);
    }

    &:hover {
      background: lighten($primary, 10);
      color: $white;
    }
  }

  &--small {
    padding: gutter(0.6) gutter(1.5);
  }

  &--dark {
    color: $black;
    border-color: $black;

    &:hover {
      color: $white;
      background-color: $black;
    }
  }

  &--center {
    text-align: center;
    margin: auto;
  }
}
