.button {
  color: $white;
  font-size: 1.2rem;
  font-family: $font-main;
  padding: gutter(1) gutter(3);
  display: inline-block;
  border: 1px solid $white;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $black;
    background-color: $white;
    text-decoration: none;
  }

  &--small {
    padding: gutter(0.6) gutter(1.5);
  }

  &--dark {
    color: $black;
    border-color: $black;

    &:hover {
      color: $white;
      background-color: $black;
    }
  }

  &--center {
    text-align: center;
    margin: auto;
  }
}
