a,
.link {
  color: $primary;
  font-weight: $medium;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: darken($primary, 20);
    text-decoration: underline;
  }
}
