.text-img {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: auto;
    height: gutter(50);
  }

  &__photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 65%;
    background-color: $white;
    padding: gutter(6);
    display: block;
    box-shadow: $shadow;
    margin-left: - gutter(5);
  }
}
